[Unit]
Description=iDiamant2MQTT Gateway
After=network.target

[Service]
Type=simple
User=__USER__
WorkingDirectory=__WORKDIR__
ExecStart=/usr/bin/node __WORKDIR__/src/index.js
Restart=on-failure
Environment=MODE_ENV=production
EnvironmentFile=__WORKDIR__/.env

[Install]
WantedBy=multi-user.target
